.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 5px 0 rgb(202, 202, 202);
  }
  
  .menu {
    display: flex;
    list-style: none;
  }
  
  .menu li {
    padding: 0 1rem;
  }
  
  .menu li:not(:last-child) {
    border-right: 1px solid #aaa;
  }
  
  .active {
    color: rgb(207, 127, 7);
  }