* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: rgb(104, 102, 102);
  margin: 2rem 0;
}

a {
  text-decoration: none;
}

p {
  margin: 1rem 0;
  text-align: justify;
}

.calculator {
  width: 40%;
  margin: 5% auto;
}

.result {
  background-color: #959597;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  text-align: right;
  height: 5rem;
  line-height: 5rem;
}

.buttons {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

button {
  padding: 1rem;
  height: 5rem;
  border: 1px solid #ccc;
  font-size: 1.3rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
  border: 1px solid rgb(99, 97, 97);
}

button:nth-child(17) {
  grid-column: 1/3;
}

button:nth-child(4n),
button:last-child {
  background-color: #f8b63b;
}
